{% extends 'SkyrimApp/base.html' %}

{% block content %}

    {% if not items %}

        <div class="container">
            <form class="row py-2" action="/visualize/global/" method="post">
                <div class="row">
                    <div class="col">
                        {{ form.selection.label_tag }}
                        {{ form.selection }}
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        {{ form.max_amount.label_tag }}
                        {{ form.max_amount }}
                    </div>
                </div>
                <div class="row gy-2 gx-4">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                {{ form.order.0 }}
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                {{ form.order.1 }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12 py-2">
                    <input type="submit" class="btn btn-default text-dark" value="POST">
                </div>
            </form>
        </div>

    {% else %}

        <div id="table">
            <table  class="table table-dark table-striped">
                <thead>
                    <tr>
                        {% for attr_head in labels %}
                            <th scope="col">{{ attr_head }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for attr_list in items %}
                        <tr scope="col">
                            {% for attr in attr_list %}
                                <td scope="row">{{ attr }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    {% endif %}

{% endblock content %}